#navbarSupportedContent ul .nav-item, #navbarSupportedContent ul li .nav-link, #navbarSupportedContent .dropdown-item {
    background-color: #17a2b8;
    color: #fff;
}

#navbarSupportedContent ul .nav-item:hover, #navbarSupportedContent ul li .nav-link:hover, #navbarSupportedContent .dropdown-item:hover {
    background-color: #138496;
    border-color: #117a8b;
    color: #fff;
}

#navbarSupportedContent .dropdown-item {
    font-size: 0.85rem;
}

