<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loại thống kê</title>
    <th:block th:insert="~{fragments/library :: head/link}"></th:block>
    <th:block th:insert="~{fragments/library :: head/script}"></th:block>
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/header.css}">
</head>
<body>
<!-- Page Content  -->
<div id="content">
    <!-- Header -->
    <nav th:replace="~{/fragments/header :: nav}"></nav>
    <div class="container">
        <h4>Loại thống kê</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="dropdown">
                    <select class="select2 form-control">
                        <th:block th:each="item : ${loaiThongKeList}">
                            <option th:value="${item.id}" th:text="${item.name}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-search" onclick="showThongKeSach()">Tiếp tục</button>
                <button type="button" class="btn btn-search" onclick="quayLai()">Quay lại</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function showThongKeSach() {
        location.href = "/quanly/thongkesach";
    }
</script>
</html>