<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thống kê sách</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{fragments/library :: head/script}"></th:block>
    <th:block th:insert="~{fragments/library :: head/link}"></th:block>
    <script th:src="@{/static/js/thongkesach.js}" src="../static/js/thongkesach.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/static/css/thongkesach.css}">
    <script th:src="@{/static/js/header.js}" src="../../js/header.js"></script>
</head>
<body>
    <th:block th:insert="~{/fragments/spinner :: #loader}"></th:block>
    <div class="wrapper" style="display: none">
        <!-- Page Content  -->
        <div id="content">
            <!-- Header -->
            <nav th:replace="~{/fragments/header :: nav}"></nav>
            <div class="container">
                <h2 class="text-center">Thống kê sách</h2>
                <form id="frmSearch" class="form-row d-flex justify-content-around align-items-center align-self-center">
                    <!--Date picker -->
                    <div class='col-md-3'>
                        <label class="form-label">Thời gian bắt đầu:</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" name="startTime"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <label class="form-label">Thời gian kết thúc:</label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" name="endTime"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-search" onclick="timKiem()">Tìm kiếm</button>
                        <button type="button" class="btn btn-search" onclick="quayLai()">Quay lại</button>
                    </div>
                </form>
                </br>
                </br>
                <div class="row" style="width: 75%">
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th>Mã sách</th>
                                <th>Tên sách</th>
                                <th>Tác giả</th>
                                <th>Mã vạch</th>
                                <th>Tổng số lượt mượn</th>
                            </tr>
                        </thead>
                        <tbody id="tblThongKeSach" class="text-center"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>